/* about page
***************************************************/
body#collection-66698f5fbe689f718032a275 {
  background-color: #001B1B;
}

#collection-66698f5fbe689f718032a275 p {
  color: #bfc6c6;
  font-family: "Satoshi-Variable";
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
}

#collection-66698f5fbe689f718032a275 h1 {
margin: 3rem 0;
}

.about-intro-section {
  height: 80vh;
  margin-bottom: 3vw;
}

.about-founders-section {
  height: 80vh;
  padding-bottom: 3vw;
}

.about-founder-intro {
  font-size: 1.3rem !important;
  line-height: 1em !important;
  margin-top: 0;
  font-weight: 400 !important;
}

b {
  color: #bfc6c6;
}

.contact-link a {
  color: #728181;
}
