/* about page
***************************************************/
body#collection-66698f5fbe689f718032a275 {
  background-color: #001B1B;
}

#collection-66698f5fbe689f718032a275 p {
  color: #777;
  font-family: "Satoshi-Variable";
  font-weight: 400;
}

#collection-66698f5fbe689f718032a275 h1 {
margin: 3rem 0;
}

.about-intro-section {
  height: 70%;
}

.about-founders-section {
  height: fit-content;
}
