
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/



/* General syles
***************************************************/

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  font-weight: normal;
}

.site-container {
  line-height: 1.6em;
  color: #777;
  max-width: 1200px;
  padding: 5vw;
  margin: auto;

  h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2em;
  }

  a {
    color: cornflowerblue;

    &.disabled {
      color: #ccc;
    }
  }
}

.site-header {
  margin-bottom: 0vw;
}

.site-navigation {
  display:flex;
  justify-content: space-between;
}

/* Style for the logo */
.site-navigation .logo {
  text-align: center; /* Center the logo within the navigation */
  margin-bottom: 20px; /* Add some space below the logo */
}

.site-navigation .logo img {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;    /* Maintain aspect ratio */
  display: inline-block; /* Ensure the image is displayed as an inline block */
}

.site-navigation-list {
  padding: 0;
}

.site-navigation-item {
  display: inline-block;
  font-size: 87.5%;

  & + .site-navigation-item {
    margin-left: 1em;
  }

  a {
    color: #F2FBFB;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }

  &.active-link > a {
    color: #999;
  }

}

.site-title-heading {

  .site-title-link {
    color: #111;
    font-weight: 400;
    text-decoration: none;
  }
}

.content-container { }

.site-footer {
  font-size: 75%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}



/* Homepage
***************************************************/

body.homepage {
  background-color: #001B1B;
}

.custom-header {
  font-size: 100px;
  margin-top: 0px !important;
  font-weight: 300;
}

/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}
