
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/



/* General syles
***************************************************/

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  font-weight: normal;
}

.site-container {
  line-height: 1.6em;
  color: #777;
  max-width: 1200px;
  padding: 1vw 5vw;
  margin: 0 auto;
}

  h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2em;
    font-family: "Satoshi-Light";
  }

  a {
    color: #F2FBFB;
    text-decoration: none;

    &.disabled {
      color: #ccc;
    }
  }


.site-header {
  margin-bottom: 0vw;
}

.site-navigation {
  text-transform: lowercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the logo */
.site-navigation .logo {
  font-size: 25px;
  font-family: "Satoshi-Regular";
  // text-align: center; /* Center the logo within the navigation */
  // margin-bottom: 20px; /* Add some space below the logo */
}

// .site-navigation .logo img {
//   max-width: 100px; /* Adjust the size as needed */
//   height: auto;    /* Maintain aspect ratio */
//   display: inline-block; /* Ensure the image is displayed as an inline block */
// }

.site-navigation-list {
  padding: 0;
}

.site-navigation-item {
  display: inline-block;
  font-size: 19px;
  font-family: "Satoshi-Light";

  & + .site-navigation-item {
    margin-left: 1em;
  }

  a {
    color: #F2FBFB;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }

  &.active-link > a {
    color: #999;
  }

}

.site-title-heading {
  display: none;
  // .site-title-link {
  //   color: #111;
  //   font-weight: 400;
  //   text-decoration: none;
  // }
}

.content-container { }

.site-footer {
  margin-top: 4vw;
  margin-bottom: 1vw;
  font-size: 15px !important;
  line-height: 1.2em;
  color: #F2FBFB;
  font-family: "Satoshi-Light";
}
.horizontal-line {
  border: none; /* Remove default border */
  border-top: 1px solid #777777; /* Add a solid line on the top */
  margin: 20px 0; /* Adjust margin as needed */
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
.follow ul, .legal ul {
  list-style: none;
  padding: 0;
  margin: 8px 0 0;
}
.follow li, .legal li {
  margin: 8px 0;
}
.footer-header {
  font-size: 15px !important;
  font-family: "Satoshi-Regular";
}

.footer-bottom {
  margin-top: 2em;
}

form input[type="text"],
form input[type="email"],
form input [type="name"] {
    background-color: #001B1B;
    border: none;
    border-bottom: 1px solid #777;
    color: #F2FBFB; /* Ensure text is visible on dark background */
    padding: 5px 0px;
    margin-bottom: 10px; /* Add space between inputs */
}
/* Hover effect for form inputs */
form input[type="text"]:hover,
form input[type="email"]:hover {
    background-color: #002525; /* Slightly different color on hover */
}


form input[type="text"]::placeholder,
form input[type="email"]::placeholder {
    color: #777;
    font-family: "Satoshi-Light";
}

form button {
    background-color: #001B1B; /* Match button background with input fields */
    color: #F2FBFB; /* Ensure button text is visible */
    border: none; /* Remove default border */
    padding: 5px;
    cursor: pointer;
}

// form button:hover {
//     background-color: #003333; /* Darker shade for hover effect */
// }

/* Homepage
***************************************************/

body.homepage {
  background-color: #001B1B;
}

.custom-header {
  font-size: 100px;
  margin-bottom: 30px !important;
  font-weight: 300;
  color: #777777;
}
.explore-link {
  color:#F2FBFB;
  font-family: Satoshi-LightItalic;
  font-weight: 300;
  font-size: 19px;
  font-style: italic;
}
/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}
