body#collection-666af37c8650031532ebdd80 {
  background-color: #001B1B;
}

/* .form-wrapper, .form-wrapper .form-inner-wrapper {
  justify-content: flex-end;
} */
/* .custom-container .site-container {
  width: 50%;
} */

#block-yui_3_17_2_1_1719913353709_6763 {
  margin-top: 7vw;
}
