body#collection-666af37c8650031532ebdd80 {
  background-color: #001B1B;
}

/* .form-wrapper, .form-wrapper .form-inner-wrapper {
  justify-content: flex-end;
} */
/* .custom-container .site-container {
  width: 50%;
} */

#page-666af37c8650031532ebdd80 {
  margin-top: 7vw;
}


.contact-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw;
}

#textarea-yui_3_17_2_1_1718282318497_6218-field {
  background-color: #001b1b !important;
  color: #f2fbfb;
  border-radius: 6px;
}

.HZaN3pKtOB3UmeTg6_qU {
  margin-bottom: 5px;
}

#collection-666af37c8650031532ebdd80 h1 {
  font-size: 4.5vw;
  color: #f2fbfb;
}

/* moving beam */

#textarea-yui_3_17_2_1_1718282318497_6218-field::before {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1; /* Adjusted z-index to ensure it's below content */
  display: block;
  height: 200%;
  width: 200%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
