body#collection-666af37c8650031532ebdd80 {
  background-color: #001B1B;
}

/* .form-wrapper, .form-wrapper .form-inner-wrapper {
  justify-content: flex-end;
} */
/* .custom-container .site-container {
  width: 50%;
} */

#page-666af37c8650031532ebdd80 {
  margin-top: 7vw;
}


.contact-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw;
}

#textarea-yui_3_17_2_1_1718282318497_6218-field {
  background-color: #001b1b !important;
  color: #f2fbfb;
  border-radius: 6px;
}

.HZaN3pKtOB3UmeTg6_qU {
  margin-bottom: 5px;
}

#collection-666af37c8650031532ebdd80 h1 {
  font-size: 4.5vw;
  color: #f2fbfb;
}

/* moving beam */
#textarea-yui_3_17_2_1_1718282318497_6218-field .TC0a5swwrteZsfBY7ttl {
  position: relative;
  overflow: hidden; /* Ensures the beam stays within the box */
}

#textarea-yui_3_17_2_1_1718282318497_6218-field .TC0a5swwrteZsfBY7ttl::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start position outside the box */
  width: 100%;
  height: 3px; /* Adjust height as needed */
  background-color: #ffcc00; /* Beam color */
  animation: moveBeam 5s linear infinite; /* Adjust animation duration as needed */
}

@keyframes moveBeam {
  0% {
      left: -100%; /* Start position */
  }
  100% {
      left: 100%; /* End position */
  }
}
