/* STYLE GUIDE */
/** FONTS **/
/* Headings */
/* Specific Page Headings */
#collection-66b5cdf671c3b42cfb240147 h1,
#collection-66b5cdf671c3b42cfb240147 h2,
#collection-66b5cdf671c3b42cfb240147 h3,
#collection-66b5cdf671c3b42cfb240147 h4,
#collection-66b5cdf671c3b42cfb240147 h5 {
    font-family: 'Public Sans', sans-serif;
    color: #F2FBFB; /* Adjust as needed */
    text-transform: lowercase;
    font-weight: 100;
}

#digital-logo {
  font-family: uniwars, sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* Heading Sizes */
/** Mobile devices **/
@media (max-width: 480px) {
  #digital-hero-section h1 {
    padding-top: 50px;
  }

  #collection-66b5cdf671c3b42cfb240147 h1 {
    font-size: 36px;
  }

  #collection-66b5cdf671c3b42cfb240147 h2 {
    font-size: 24px;
  }

  #collection-66b5cdf671c3b42cfb240147 h3 {
    font-size: 22px;
  }

  #collection-66b5cdf671c3b42cfb240147 h4 {
    font-size: 20px;
  }

  #collection-66b5cdf671c3b42cfb240147 h5 {
    font-size: 18px;
  }
}

/** iPads, Tablets **/
@media (min-width: 481px) and (max-width: 768px) {
  #digital-hero-section h1 {
    padding-top: 70px;
  }

  #collection-66b5cdf671c3b42cfb240147 h1 {
    font-size: 48px;
  }

  #collection-66b5cdf671c3b42cfb240147 h2 {
    font-size: 28px;
  }

  #collection-66b5cdf671c3b42cfb240147 h3 {
    font-size: 24px;
  }

  #collection-66b5cdf671c3b42cfb240147 h4 {
    font-size: 22px;
  }

  #collection-66b5cdf671c3b42cfb240147 h5 {
    font-size: 20px;
  }
}

/** Small screens, laptops **/
@media (min-width: 769px) and (max-width: 1919px) {
  #digital-hero-section h1 {
    padding-top: 100px;
  }

  #collection-66b5cdf671c3b42cfb240147 h1 {
    font-size: 60px;
  }

  #collection-66b5cdf671c3b42cfb240147 h2 {
    font-size: 32px;
  }

  #collection-66b5cdf671c3b42cfb240147 h3 {
    font-size: 28px;
  }

  #collection-66b5cdf671c3b42cfb240147 h4 {
    font-size: 24px;
  }

  #collection-66b5cdf671c3b42cfb240147 h5 {
    font-size: 20px;
  }
}

/** Extra large screens, TVs **/
@media (min-width: 1920px) {
  #digital-hero-section h1 {
    font-size: 80px; /* Example size for large screens */
    padding-top: 120px; /* Adjust padding for large screens */
  }

  #collection-66b5cdf671c3b42cfb240147 h1 {
    font-size: 80px;
  }

  #collection-66b5cdf671c3b42cfb240147 h2 {
    font-size: 40px;
  }

  #collection-66b5cdf671c3b42cfb240147 h3 {
    font-size: 36px;
  }

  #collection-66b5cdf671c3b42cfb240147 h4 {
    font-size: 32px;
  }

  #collection-66b5cdf671c3b42cfb240147 h5 {
    font-size: 28px;
  }
}


/* paragraph */
#collection-66b5cdf671c3b42cfb240147 p {
  font-size: 12px;
  font-family: "Jet Brains Mono", monospace;
  line-height: 1.2;
}

/* accents & buttons */

.digital-accent-text {
  font-size: 12px;
  font-family: "Jet Brains Mono", monospace;
  line-height: 1.2;
  text-transform: uppercase;
  display: inline;
}

.digital-btn {
  font-size: 12px;
  font-family: "Jet Brains Mono", monospace;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
/** COLOURS **/
:root {
  --primary-bg-color: #001b1b;
  --accent-color: #2D677B;
  --secondary-accent-color: #C0ED98;
  --text-color: #f2fbfb;
  --secondary-text-color: #5D686C;
}

/* background color */
body#collection-66b5cdf671c3b42cfb240147 {
  margin: 0;
  font-family: 'Nimbus Sans', sans-serif;
  min-height: 100vh; /* Full height of the viewport */
  background: radial-gradient(circle,
  #263F3F,
  #4C5D5D,
  #737C7C,
  #001b1b,
  #B7B6C2,
  #4B5043,
);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/*STRUCTURE */
/* Default padding for mobile (small screens) */
.digital-container {
  padding: 15px; /* Adjust as needed */
}

/* Padding for tablets (768px and above) */
@media (min-width: 768px) {
  .digital-container {
    padding: 20px; /* Adjust as needed */
  }
}

/* Padding for desktops (1024px and above) */
@media (min-width: 1024px) {
  .digital-container {
    padding: 25px; /* Adjust as needed */
  }
}

/* Padding for large screens (1200px and above) */
@media (min-width: 1200px) {
  .digital-container {
    padding: 30px; /* Adjust as needed */
  }
}


/* NAVIGATION */
/** sticky **/

.digital-sticky-nav-wrapper {
  position: fixed; /* Fix the nav to the viewport */
  bottom: 40px; /* Offset from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for perfect centering */
  width: auto;
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  justify-content: center;
}

.sticky-bottom-nav {
  background-color: rgba(30, 30, 30, .4);
  padding: 5px 12px;
  border-radius: 12px; /* Rounding for a button-like appearance */
  backdrop-filter: blur(10px); /* Blur effect for the background */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.sticky-bottom-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px; /* Adjust spacing between menu items */
  justify-content: center;
}

.sticky-nav-menu-item {
  text-decoration: none;
  color: #f9f6f4;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
  font-size: 12px; /* Ensure small font size for mobile */
  cursor: pointer;
  font-family: "Jet Brains Mono", monospace;
  text-transform: uppercase;
}

.sticky-nav-menu-item:hover {
  background-color: #2D677B; /* Your hover color */
}

/* desktop */
.digital-navigation {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center the content horizontally */
  color: var(--text-color); /* Set your text color */
  position: relative; /* Needed for absolute positioning of the logo */
}

#digital-logo {
  position: absolute; /* Position the logo absolutely */
  left: 0; /* Align the logo to the left */
  padding-left: 10px; /* Add padding if needed */
}

#digital-logo a {
  font-size: 20px;
}

.nav-text-area {
  overflow: hidden; /* Hide the overflow for the marquee effect */
  white-space: nowrap; /* Prevent text wrapping */
  position: relative; /* Required for positioning the inner content */
  text-align: center;
  border: 1px solid #5D686C;
  border-radius: 12px;
  padding: 8px 12px;
  /* width: 50%; */
}

.nav-text-marquee {
  text-transform: uppercase;
  opacity: 0.8;
  display: inline-block;
  white-space: nowrap; /* Prevent text wrapping */
  animation: marquee 20s linear infinite; /* Apply the marquee animation */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start position outside the view on the right */
  }
  100% {
    transform: translateX(-100%); /* End position outside the view on the left */
  }
}


.digital-navigation-list {
  display: none; /* Hide the navigation list by default */
  position: absolute; /* Position the list absolutely */
  top: 100%; /* Position below the button */
  right: 0; /* Align the list to the right */
  background-color: #001B1B; /* Same background as the nav */
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* Mobile styles */
@media (max-width: 768px) {
  /* Wrap navigation and text area in a container */
  .digital-navigation-wrapper {
      display: flex;
      flex-direction: column; /* Stack navigation and text area vertically */
      width: 100%; /* Full width for wrapper */
  }

  .digital-navigation {
      flex-direction: row; /* Align logo and button in a row */
      margin-bottom: 10px; /* Space below the navigation */
  }

  .nav-text-area {
      width: auto; /* Full width for text area */
      border: 1px solid #5D686C;
      padding: 0px 12px; /* Adjust padding */
      text-align: left; /* Center text */
      margin-top: 100px; /* Space above the text area */
      position: absolute;
  }
}

.digital-navigation-wrapper {
  position: relative; /* Position context for absolute positioning */
  width: 100%; /* Full width for wrapper */
}

#digital-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

#digital-services-section {
  height: 95vh;
  position: relative;
}

#digital-services-section h1 {
  margin: 0;
}

.digital-services-cta {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  color: var(--accent-color);
  left: 50%;
  /* transform: translateX(-50%); */
}

#digital-services-section .digital-divider {
  position: absolute;
  bottom: 0;
  margin: 0;
}

#digital-featured-work-section {
  height: 50vh;
}

#digital-insights-section {
  height: 95vh;
  display: flex;
  flex-wrap: wrap;  /* Allows the blocks to wrap if needed */
  align-items: flex-end;  /* Aligns items to the bottom of the container */
  position: relative;  /* Allows absolute positioning within the container */
  margin: 0;
  padding: 0;
}

.blog-1, .blog-2, .blog-3 {
  flex: 1;  /* Allows blocks to grow and shrink as needed */
  margin: 10px;  /* Space between blocks */
  /* Set a fixed height for demonstration or use dynamic content */
}

.blog-1 {
  background-color: lightblue;
  height: 450px;
  width: 450px;
}

.blog-2 {
  background-color: lightcoral;
  height: 200px;
  width: 250px;
}

.blog-3 {
  background-color: lightgreen;
  height: 150px;
  width: 250px
}

/* COMPONENTS */
.digital-divider {
  width: 100%;
  height: 1px;
  background-color: var(--secondary-text-color);
  border: 0;
  margin: 25px 0;
}

/** cards **/
.cards-container {
  position: relative;
  width: 500px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  margin-top: 60px;
}

.card {
  position: absolute;
  width: 300px; /* Adjust card width */
  height: 200px; /* Adjust card height */
  background-color: rgba(225, 225, 225, .4);
  backdrop-filter: blur(10px); /* Blur effect for the background */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  border: 2px solid transparent; /* Default border */
  display: flex;
  align-items: flex-start;
  justify-content: left;
  font-family: 'JetBrains Mono', monospace;
  z-index: 1; /* Default z-index */
  transition: all 0.3s ease; /* Smooth transition */
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.card-1 {
  top: 0;
  left: 0;
  border-color: #2D677B; /* Blue border */
}

.card-2 {
  top: 80px; /* Adjust for overlap */
  left: 120px; /* Adjust for overlap */
  border-color: #C0ED98; /* Green border */
}

.card-3 {
  top: 160px; /* Adjust for overlap */
  left: 240px; /* Adjust for overlap */
  border-color: #2D677B; /* Blue border */
}

/* Hover Effect */
.card:hover {
  z-index: 3; /* Bring the hovered card to the front */
  transform: scale(1.05); /* Optional: Slightly enlarge the card */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Optional: Add shadow on hover */
}

.card-list {
  list-style: none;
  padding: 0;
}

.card-list li {
  margin: 5px;
}
