/* Homepage
***************************************************/

body.homepage {
  background-color: #001B1B;
}

.custom-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.custom-header {
  margin-bottom: 30px !important;
  color: #777777;
  font-family: 'Satoshi-Variable';
  font-weight: 300;
  z-index: -5;
}
.explore-link {
  color:#F2FBFB;
  font-family: "Satoshi-Variable";
  font-weight: 300;
  font-size: 19px;
}
