body#collection-6669b17c28a22a7561e712f1{
  background-color: #F2FBFB;
}

.portfolio-header {
  font-size: 6.25rem;
  margin-bottom: 30px;
  font-weight: 300;
  color: #001B1B;
}

.site-footer#collection-6669b17c28a22a7561e712f1 {
  background-color: #FF0000 !important; /* Red background color */
  color: #FFFFFF
}
