body#collection-6669b17c28a22a7561e712f1{
  background-color: #F2FBFB;
}

.portfolio-header {
  font-size: 4rem;
  margin-bottom: 30px;
  font-weight: 300;
  color: #001B1B;
}

#collection-6669b17c28a22a7561e712f1 .site-footer{
  color: #001B1B;

}
#collection-6669b17c28a22a7561e712f1 .site-navigation a{
  color: #001B1B;
}

#collection-6669b17c28a22a7561e712f1 h2{
  color: #001B1B;
  margin-bottom: 0;

}

#collection-6669b17c28a22a7561e712f1 p {
  color: #728181;
}

.portfolio-item {
  display: flex;
  align-items: baseline;
}

.portfolio-number {
margin-right: 10px;
font-size: 1.3rem;
}

.site-container .portfolio-list {
  width: 50%;
  padding: 0;
}

.venture-name {
  /* font-weight: 400; */
  font-family: "Satoshi-Variable";
  color: #001B1B;
  font-size: 1.3rem;
  display: inline-block; /* Ensures hover effect works correctly */
  transition: all .2s ease-in-out; */
}

.venture-name:hover {
  transform: scale(1.05); /* Scaling up the anchor text on hover */
}

.venture-type {
  color: #728181;
  font-size: 1.3rem;
}

#collection-6669b17c28a22a7561e712f1 form input[type="text"],
#collection-6669b17c28a22a7561e712f1 form input[type="email"],
#collection-6669b17c28a22a7561e712f1 form input[type="name"] {
    background-color:#F2FBFB;
    border: none;
    border-bottom: 1px solid #728181;
    color: #001B1B; /* Ensure text is visible on dark background */
    padding: 5px 0px;
    margin-bottom: 10px; /* Add space between inputs */
}

#collection-6669b17c28a22a7561e712f1 .site-navigation-item a:hover {
  border-bottom: 2px solid #728181;
}
