body#collection-6669b17c28a22a7561e712f1{
  background-color: #F2FBFB;
}

.portfolio-header {
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-bottom: 30px;
  font-weight: 300;
  color: #001B1B;
}

#collection-6669b17c28a22a7561e712f1 .site-footer{
  color: #001B1B;
}

:root {
  --main-color: #596A6A;
}

#collection-6669b17c28a22a7561e712f1 .site-navigation a {
  color: #001B1B;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--main-color) 50%,
    #001b1b 50%
  );
}
#collection-6669b17c28a22a7561e712f1 h2{
  color: #001B1B;
  margin-bottom: 0;

}

#collection-6669b17c28a22a7561e712f1 .menu-toggle {
  color: #001B1B;
}

.portfolio-item {
  display: flex;
  align-items: baseline;
}

.portfolio-number {
  margin-right: 10px;
  font-size: clamp(1rem, 2vw, 1.6rem);
}

.site-container .portfolio-list {
  width: 50%;
  padding: 0;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .site-container .portfolio-list {
    width: 100%;
  }
}

.venture-name {
  font-size: clamp(1rem, 2vw, 1.6rem);
  font-family: "Satoshi-Variable";
  color: #001B1B;
  display: inline-block; /* Ensures hover effect works correctly */
  transition: all .2s ease-in-out;
}

.venture-type {
  color: #728181;
  font-size:  clamp(1.1rem,1.7vw,1.5rem);
  margin-bottom: 0;
  margin-top: 10px;

}
#collection-6669b17c28a22a7561e712f1 p {
  color: #728181;
  font-size: clamp(1.1rem, 1.7vw, 1.5rem);
}

@media screen and (max-width: 1024px) {
  .venture-name {
    font-size: clamp(1.5rem, 2vw, 1.6rem);
  }

  .venture-type {
    font-size: clamp(1.5rem, 2vw, 1.6rem);
  }
  .portfolio-number {
    font-size: clamp(1.5rem, 2vw, 1.6rem);
    }
}

.venture-name a {
  color: #001B1B;
}

.venture-name a:hover {
  opacity: 1;

}
.venture-name:hover {
  font-size: clamp(1.6rem, 2.1vw, 1.7rem); /* Scaling up the anchor text on hover */
  color: #001B1B;
}



#collection-6669b17c28a22a7561e712f1 form input[type="text"],
#collection-6669b17c28a22a7561e712f1 form input[type="email"],
#collection-6669b17c28a22a7561e712f1 form input[type="name"] {
    background-color:#F2FBFB;
    border: none;
    border-bottom: 1px solid #728181;
    color: #001B1B; /* Ensure text is visible on dark background */
    padding: 5px 0px;
    margin-bottom: 10px; /* Add space between inputs */
}

/* #collection-6669b17c28a22a7561e712f1 .site-navigation-item a:hover {
  border-bottom: 2px solid #728181;
} */

#collection-6669b17c28a22a7561e712f1 .site-navigation #logo a:hover {
  color: #001B1B !important;
  opacity: 1;
}

#collection-6669b17c28a22a7561e712f1 .site-footer a:hover {
  color: #001b1b;
}
