/*nav */
#collection-6675831bde596541bddcfb64 .site-navigation #logo a:hover {
  color: #001B1B !important;
  opacity: 1;
}

#collection-6675831bde596541bddcfb64 .site-navigation #logo a {
  color: #001B1B !important;
  opacity: 1;
}

:root {
  --main-color: #596A6A;
}

#collection-6675831bde596541bddcfb64 .site-navigation a {
  color: #001B1B;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--main-color) 50%,
    #001b1b 50%
  );
}

#collection-6675831bde596541bddcfb64 .menu-toggle {
  color: #001B1B;
}

/*body*/

#collection-6675831bde596541bddcfb64  .page-header {
  color: #001b1b;
}

#collection-6675831bde596541bddcfb64  h2 {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  color: #001b1b;
  font-weight: 400;
}

#collection-6675831bde596541bddcfb64  h3 {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  color: #001b1b;
  font-weight: 400;
}

#collection-6675831bde596541bddcfb64  p {
  color: #001b1b;
  font-size: clamp(1.3rem,1.5vw, 2rem);
}

#collection-6675831bde596541bddcfb64  ul {
  color: #001b1b;
  list-style: circle;
  font-size: clamp(1.3rem, 1.5vw, 2rem);
}

/*footer*/
#collection-6675831bde596541bddcfb64 .site-footer {
  color: #001B1B;
}

#collection-6675831bde596541bddcfb64 .site-footer ul {
  list-style: none !important;
  font-size: 1em !important;
}

#collection-6675831bde596541bddcfb64 .footer-form input[type="text"] {
  background-color: #f2fbfb;
}

#collection-6675831bde596541bddcfb64 .footer-form input[type="email"] {
  background-color: #f2fbfb;
}

#collection-6675831bde596541bddcfb64 .site-footer a:hover {
  color: #001b1b;
}
