body#collection-66757d0dcb3bd378d782c59c{
  background-color: #F2FBFB;
}

:root {
  --main-color: #596A6A;
}
#collection-66757d0dcb3bd378d782c59c .site-navigation a {
  color: #001B1B;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--main-color) 50%,
    #001b1b 50%
  );
}


#collection-66757d0dcb3bd378d782c59c .site-navigation #logo a:hover {
  color: #001B1B !important;
  opacity: 1;
}

#collection-66757d0dcb3bd378d782c59c .page-header {
  color: #001B1B;
}

#collection-66757d0dcb3bd378d782c59c p {
  color: #001B1B;
}


#collection-66757d0dcb3bd378d782c59c .site-footer{
  color: #001B1B;
}

.venture-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

#collection-66757d0dcb3bd378d782c59c .site-navigation-item a:hover {
  border-bottom: 1px solid #777;
}

.bird {
  font-weight: 300; /* Start with normal font weight */
  opacity: 1;
  transition: font-weight 1s ease, opacity 1s ease-in;
  /* transition: font-weight 0.5s ease;
  transition: opacity 0.5s ease-in; */
}

.bird.bold {
  font-weight: 500;
  opacity: 0.5;
}

#collection-66757d0dcb3bd378d782c59c form input[type="text"],
#collection-66757d0dcb3bd378d782c59c form input[type="email"],
#collection-66757d0dcb3bd378d782c59c form input[type="name"] {
    background-color:#F2FBFB;
    border: none;
    border-bottom: 1px solid #728181;
    color: #001B1B; /* Ensure text is visible on dark background */
    padding: 5px 0px;
    margin-bottom: 10px; /* Add space between inputs */
}

#collection-66757d0dcb3bd378d782c59c .site-footer a:hover {
  color: #001b1b;
}

#collection-66757d0dcb3bd378d782c59c .menu-toggle {
  color: #001B1B;
}
